################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/BaselinkerSubiektConnector/bin/Debug
/BaselinkerSubiektConnector/.vs/BaselinkerSubiektConnector
/BaselinkerSubiektConnector/obj/Debug/BaselinkerSubiektConnector.exe
